.signin {
  background: #fdfafa;
}
.signin-container {
  margin-top: 150px;
}

.sign-in-button {
  background: #007bff;
  color: #fff;
  padding: 10px 20px 10px 20px;
}

.sign-in-button:hover {
  background: #0880e8;
}

.sign-up-button {
  background: #61ce70;
  color: #fff;
  padding: 10px 20px 10px 20px;
}

.sign-up-button:hover {
  background: rgb(149, 197, 53);
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 600;
  font-size: 23px;
  color: #0d6efd;
}
.form-control {
  background: transparent;
  color: #212529;
  border-color: #ced4da !important;
}
.form-control:hover {
  color: #212529;
  border-color: #007aff !important;
}
.form-control:focus {
  color: #fff;
  background-color: transparent;
  color: #212529;
  outline: 0;
  box-shadow: 0 0 0 1px rgb(255 255 255) !important;
}

.error-section {
  width: 100%;
}

.separator::before,
.separator::after {
  content: "";
  flex: 1;
  border-bottom: 2px solid #fff;
}

.separator:not(:empty)::before {
  margin-right: 0.25em;
}

.separator:not(:empty)::after {
  margin-left: 0.25em;
}
