.benifits-of-swasthya-samriddhi-card {
  background: rgb(253, 250, 250);
}

.benifits-heading-container {
  margin-bottom: 50px;
}

.benifits-heading {
  color: #007bff;
  font-size: 33px;
  font-weight: 600 !important;
  margin-top: 100px;
}

.benifits-sub-title {
  color: #007bff;
}
