/* Styles for wrapping the search box */

/* .find-hospital-background-overlay {
  background-color: #256f77;
  opacity: 0.24;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
} */

.find-hospital-searchbar {
  background: url(bg.jpg);
  margin-top: 100px;
  line-height: 1.5;
}

.find-hospital-container {
  margin-top: 230px;
  margin-bottom: 200px;
}
.search-heading-h3 {
  color: #256f77;
  font-weight: 600;
  font-size: 26px;
}

.input-group input {
  color: black;
}

.input-group:hover {
  color: black;
  border-color: #ced4da !important;
}
.search-heading-p {
  color: #256f77;
}

.has-search .input-form-control {
  padding-left: 2.375rem;
  color: black !important;
}

.input-form-control {
  color: black !important;
  border-color: #ced4da !important;
}

.input-form-control:hover {
  color: black;
  border-color: #ced4da !important;
}

.top-fundraiser-heading h2 {
  color: #9f1718;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .top-fundraiser-heading h2 {
    text-align: center;
    align-items: center;
  }
  /* .card {
    margin-top: 20px;
  }  */
}

@media only screen and (max-width: 360px) {
  .top-fundraiser-heading h2 {
    text-align: center;
  }
}

/*----  Main Style  ----*/
#cards_landscape_wrap-2 {
  text-align: center;
  /* background: #F7F7F7; */
}
#cards_landscape_wrap-2 .container {
  /* padding-top: 80px; */
  padding-bottom: 60px;
}
#cards_landscape_wrap-2 a {
  text-decoration: none;
  outline: none;
}
#cards_landscape_wrap-2 .card-flyer {
  border-radius: 5px;
}
#cards_landscape_wrap-2 .card-flyer .image-box {
  background: #ffffff;
  overflow: hidden;
  /* box-shadow: 0px 2px 15px rgb(0 0 0 / 11%); */
  border-radius: 5px;
}

#cards_landscape_wrap-2 .card-flyer .image-box img {
  -webkit-transition: all 0.9s ease;
  -moz-transition: all 0.9s ease;
  -o-transition: all 0.9s ease;
  -ms-transition: all 0.9s ease;
  width: 100%;
  height: 200px;
  object-fit: contain;
}

#cards_landscape_wrap-2 .card-flyer:hover .image-box img {
  opacity: 0.7;
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -ms-transform: scale(1.15);
  -o-transform: scale(1.15);
  transform: scale(1.15);
}

#cards_landscape_wrap-2 .card-flyer .text-box {
  text-align: center;
}

#cards_landscape_wrap-2 .card-flyer .text-box .text-container {
  padding: 30px 18px;
}

#cards_landscape_wrap-2 .card-flyer {
  background: #ffffff;
  margin-top: 50px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  box-shadow: 0px 3px 4px rgb(0 0 0 / 12%);
}
/* 
#cards_landscape_wrap-2 .card-flyer:hover{
  background: #fff;
  box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  margin-top: 50px;
} */

#cards_landscape_wrap-2 .card-flyer .text-box p {
  margin-top: 5px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-size: 14px;
  letter-spacing: 1px;
  color: #2c2a2a;
}

#cards_landscape_wrap-2 .card-flyer .text-box h6 {
  margin-top: 0px;
  margin-bottom: 4px;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #212529;
}

#cards_landscape_wrap-2 .card-flyer .text-box h5 {
  margin-top: 0px;
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #9f1718;
}
