/* Styles for wrapping the search box */

/* .find-pharmacy-background-overlay {
  background-color: #256f77;
  opacity: 0.24;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
} */

.find-pharmacy-searchbar {
  background-image: url(bg.jpg);

  background-color: linear-gradient(
    to right,
    rgba(109, 179, 242, 0.6),
    rgba(109, 179, 242, 0.6)
  );
  margin-top: 100px;
  line-height: 1.5;
}

.find-pharmacy-container {
  margin-top: 230px;
  margin-bottom: 200px;
}
.search-heading-h3 {
  color: #256f77;
  font-weight: 600;
  font-size: 26px;
}

.input-group input {
  color: black;
}

.input-group:hover {
  color: black;
  border-color: #ced4da !important;
}
.search-heading-p {
  color: #256f77;
}

.has-search .input-form-control {
  padding-left: 2.375rem;
  color: black !important;
}

.input-form-control {
  color: black !important;
  border-color: #ced4da !important;
}

.input-form-control:hover {
  color: black;
  border-color: #ced4da !important;
}
