.team-section {
  background: rgb(253, 250, 250);
}
.board-member-heading {
  color: #007bff;
  font-size: 33px;
  font-weight: 600 !important;
  margin-top: 100px;
}

.advisory-doctors-heading {
  color: #007bff;
  font-size: 33px;
  font-weight: 600 !important;
  /* margin-top: 20px; */
}

.development-heading {
  color: #007bff;
  font-size: 33px;
  font-weight: 600 !important;
  margin-top: 60px;
}

.profile-style {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  object-fit: cover;
  align-self: center;
  align-items: center;
  margin-top: 30px;
}

@media only screen and (max-width: 1064px) {
}
@media only screen and (max-width: 600px) {
  .team-card {
    text-align: center;
  }
  .team-profile-heading h2 {
    text-align: center;
  }
}

@media only screen and (max-width: 360px) {
  .team-card {
    text-align: center;
  }
  .team-profile-heading h2 {
    text-align: center;
  }
}
