.roadmap-section {
  background: rgb(253, 250, 250);
}
.roadmap-heading {
  color: #007bff;
  font-size: 33px;
  font-weight: 600 !important;
  margin-top: 100px;
}

.roadmap-card {
  background-color: rgb(47, 148, 255);
  background-clip: border-box;
  border: 1px solid #007bff;
}

.roadmap-sub-title {
  color: #f9f9ff;
}

.date-color {
  color: #fff !important;
}

.border-right {
  border-right: 1px solid rgb(47, 148, 255) !important;
}

.border {
  border: 1px solid rgb(47, 148, 255) !important;
}
