.doctors-on-call-section {
  /* background: #fdfafa; */
}

.doctors-on-call-heading h3 {
  margin-top: 100px;
  color: #2f94ff;
  font-weight: bold;
  font-size: 35px;
}

.doctors-on-call-paragraph {
  margin-top: 40px;
}

.doctors-on-call-paragraph p {
  color: #55595c;
  font-size: 20px;
}

.call-to-doctor-image-section {
  margin-top: 30px;
}

.imageStyle {
  height: 400px;
  width: 500px;
  object-fit: contain;
}

.imageBannerStyle {
  width: 100%;
  object-fit: contain;
  height: 200px;
}
/* 
.image-right img {
  height: 400px;
  width: 500px;
} */

.description-section p {
  color: #55595c;
  font-size: 20px;
  margin-top: 25px;
}

.when-do-you-need-section h3 {
  margin-top: 30px;
  color: #7a7a7a;
  font-weight: bold;
  font-size: 35px;
}

.when-do-you-need-section h4 {
  margin-top: 30px;
  color: #7a7a7a;
  font-weight: bold;
  font-size: 22px;
}

.advantage-section h3 {
  margin-top: 30px;
  color: #7a7a7a;
  font-weight: bold;
  font-size: 35px;
}

.when-do-you-need-section p {
  color: #55595c;
  font-size: 20px;
  margin-top: 20px;
}

.advantage-section p {
  color: #55595c;
  font-size: 20px;
  margin-top: 20px;
}

@media only screen and (max-width: 1064px) {
  .imageStyle {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .imageBannerStyle {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
@media only screen and (max-width: 850px) {
  .main-content {
    flex-direction: column !important;
  }
  .imageStyle {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  /* .image-right {
    margin-top: 50px;
    object-fit: cover;
    height: 500px;
    width: 550px;
  } */
  .imageBannerStyle {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media only screen and (max-width: 486px) {
  .imageStyle {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
}
